<html>
<head>
	<title>Metric Fu Results</title>
	<style>
	<%= inline_css("default.css") %>
	<%= inline_css("rcov.css") %>
	</style>
</head>

<body>
  <h1>Metric Fu Results</h1>
  <% metric_links.each do |link| %>
    <p>
      <%= link %>
    </p>
  <% end %>
  <p>Generated on <%= Time.now.localtime %></p>
</body>
</html>

