<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang='en' xml:lang='en' xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type' />
    <meta content='en' http-equiv='Content-Language' />
    <title>metrics | thoughtbot</title>
    <link href='http://metrics.thoughtbot.com/reset.css' rel='stylesheet' type='text/css' />
    <link href='http://metrics.thoughtbot.com/buttons.css' rel='stylesheet' type='text/css' />
    <link href='http://metrics.thoughtbot.com/integrity.css' rel='stylesheet' type='text/css' />
    <style>
    <%= inline_css("default.css") %>
    </style>
    <link REL="SHORTCUT ICON" HREF="/favicon.ico">
  </head>
  <body>
    <div id='header'>
      <h1><a href="/">metrics</a> | <%= @name %></h1>
      <address class='watermark'>
        built with
        <a href='http://metric-fu.rubyforge.org/'>metric-fu</a>
      </address>
    </div>
    <div id='content'>
      <%= @html %>
    </div>
  </body>
</html>
