<h3>Metric Fu Results</h3>
<ul id='projects'>
<% @metrics.keys.each do |metric| %>
  <li class='even failure'>
    <a href="<%= metric.to_s %>.html">
      <%= metric.to_s.split('_').collect{|word| word[0] = word[0..0].upcase; word}.join(" ") %>
    </a>
  </li>
<% end %>
</ul>
<p>Generated on <%= Time.now.localtime %></p>
