<html>
<head>
	<title>Source Control Churn Results</title>
	<style>
	<%= open(File.join(MetricFu::TEMPLATE_DIR, "#{template_name}.css")) { |f| f.read } %>
	</style>
</head>

<body>
	<h1>Source Control Churn Results</h1>
	<table width="100%" border="1">
		<tr><th>File Path</th><th>Times Changed</th></tr>
		<% @changes.to_a.sort {|x,y| y[1] <=> x[1]}.each do |change| %>
		<tr><td><%= change[0] %></td><td class='warning'><%= change[1] %></td></tr>
		<% end %>

	</table>
</body>
</html>